html {
  font-family: 'Merriweather', serif;
  box-sizing:border-box;
  line-height:1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin:0;
  background-color:
  font-family: 'Merriweather', serif;
}

header {
  background-color:#d05c2e;
}

h1{
  padding: .5rem;
  font-family: 'Merriweather', bold;
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: 2rem;
  padding: 3;
}

.nav {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
  overflow: hidden;
}

.nav li{
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-align: center;
  float: left;
  width: 33%;
}

.nav a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 1rem;
}

body{

}

nav a {
  background-color:#d05c2e;
}

img {
  padding: .5rem;
  width: 50px;
}

.left {
  float: left;
}

.right {
  float: right;
}
