html {
  font-family: "Merriweather", serif;
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #d05c2e;
}

h1 {
  padding: .5rem;
  font-family: "Merriweather", bold;
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: 2rem;
}

.nav {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
  overflow: hidden;
}

.nav li {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-align: center;
  float: left;
  width: 33%;
}

.nav a {
  border: solid 1px #a63f38;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: .5rem;
}

img {
  padding: .5rem;
  width: 50px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.nav:hover {
  background-color: #a63f38;
}
